<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <button mat-button color="primary">Responses</button>
    
  </span>
  <h3 style="text-align: center;">Service Request Feature form</h3>
  <span class="example-spacer"></span>
</mat-toolbar>
<br>

<form [formGroup] = 'form' (ngSubmit) = "submit">
  <div class="form-group" style="text-align: center; width: 100%; height: 50px ; 
  border:0;border-bottom: 1px solid black; padding-bottom: 10px;" >
      <label for="name" >Name</label>
      <input formControlName = "name" name="name" id="name" type="text" class="form-control">
    <div *ngIf = "f.name.touched && f.name.invalid && f.name.errors" class="alert alert-danger">
<div *ngIf = "f.name.errors.required" style="width: 200px;">Idea name is required</div>
<div *ngIf = "f.name.errors.minlength" style="width: 200px;">It should be atleast 5 characters</div>
  </div>
    </div>
  <br>
  <br>
  <br>
  <div class="form-group" style="text-align: center;">
    <label for="body">Body</label>
    <textarea formControlName="body" class="form-control" id="body" name="body" cols="20" rows="10"></textarea>
    <div *ngIf = "f.body.touched && f.body.invalid && f.body.errors " class="alert alert-danger">
      <div *ngIf = "f.body.errors.required" style="width: 200px;">This coulumn is required</div>
  <div *ngIf = "f.body.errors.minlength" style="width: 300px;">Detailed message is required in minimum 20 words</div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div style="text-align: center;">
    <button class="btn btn-primary" type="submit" style="align-items: center;">Submit</button>
  </div>
  
</form>