
<mat-toolbar fxLayoutAlign="space-evenly center">
  <div>
    <button [routerLink]="['/']" mat-raised-button class="example-icon" aria-label="Example icon-button with menu icon" color = "warn">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  
  <div>
    <h3 fxLayoutAlign="center center" class = "navbarcontent" style="text-align: center;"> &nbsp;&nbsp;&nbsp; Service Request Feature form</h3>
  </div>
  
  <div>
    <span>
      <button mat-raised-button [routerLink]="['/response']" color="primary">Responses</button>  
    </span>
  </div>
</mat-toolbar>
<br>


<router-outlet></router-outlet>